* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: "poppins", sans-serif;
}
  #head {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 10vh;
    padding: 1rem;
  }
  #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(65, 4, 123);
  }
  #menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 0.5rem;
    background-color: rgb(65, 4, 123);
  }
  #menu a {
    display: block;
    padding: 0.5rem;
    color: white;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }
  a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: none;
  }
.text-logo{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    background-color: rgb(252, 94, 3);
    color: white;
}
.logo-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
}
.img-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65vh;
    background-color: rgb(65, 4, 123);
}
.apoio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.img-gt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 8%;
}
.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 94, 3);
    color: white;
}
.sobre p{
    margin: 2%;
}
.contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-color: rgb(65, 4, 123);
    color: white;
}
.merchan{
  display: flex;
  flex-direction: column;
}
.apoio{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 29vh;
}
.apoio .apoio-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.apoio p{
  display: flex;
  flex-direction: row;
  margin-right: 30%;
}
.text-apoio{
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 100%;
  height: 28.8vh;
}
.text-apoio p{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 05%;
  color: white;
}
.hf{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 29vh;
}
.hf .hf-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 33%;
}
.hf p{
  display: flex;
  flex-direction: row;
  margin-right: 30%;
}
.text-hf{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  width: 100%;
  height: 28.8vh;
}
.text-hf p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2%;
  color: white;
}

.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    position: fixed;
    transform: scale(1.1);
    bottom: 20px;
    right: 20px;
    z-index: 999;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 3%;
}
.redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-color: white;
}
.parceiros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  gap: 1rem;
}
.dicas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(252, 94, 3);
    color: white;
}
.dicas p{
    margin: 2%;
}
h4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
}

.iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(65, 4, 123);
    gap: 1rem;
}
Footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #e7e7e7;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }